body{
	background-image: url("../img/bg_grey.jpg");
	padding-left: 120px;
    padding-right: 120px;
    font-family: 'Tangerine', serif;
    padding-top: 20px;
}

header {
    font-family: 'Tangerine', serif;
    font-size: 46px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 90px;
    margin: 20px;
    background-image: url("./img/frame.png");
    background-position: top;
    opacity: 0.8;
}

h1 {
    font-family: 'Tangerine', serif;
    font-size: 46px;
    text-shadow: 4px 4px 4px #aaa;
	text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0px;

}
img{
    float: center;
    margin-bottom: 70px;
    margin-left:150px;
}

footer {
	font-style:italic;
	text-align: center;
    clear: both;
    font-size: small;
    }


div {
    margin: auto;
    width: 800px;
   }


