body{
	background-image: url("../img/bg_grey.jpg");
	padding-left: 120px;
    padding-right: 120px;
    font-family: 'Tangerine', serif;
    font-size: 20px;
    text-shadow: 4px 4px 4px #aaa;    padding-top: 20px;
}


header {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    padding-top: 90px;
    margin: 10px;
    margin-bottom: 40px;
    background-image: url("../img/frame.png");
    background-position: top;
    opacity: 0.8;

}


img{
    float: center;
    margin-bottom: 70px;
    margin-left:150px;
}

footer {
	font-style:italic;
	text-align: center;
    clear: both;
    font-size: small;
    }


div {
    margin: auto;
    width: 800px;
   }

div#back{
    background-image: url("../img/envolope.jpg");
    width: 500px;
    height: 346px;
}

form{
    display: inline-block;
    margin: 50px auto auto;
    width: 80%;
    text-align: center;
}

.error{
    font-size: 10px;
    width:10%;
    word-wrap: break-word;
}
